---
layout: default
title: GitLab + Bank of Ireland - Develop a Faster DevOps lifecycle
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Supporting Bank of Ireland's Innovation Agenda
        %h2.page-subtitle A Bank of Ireland exclusive webcast

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 May 30, 2018
            %p Today’s toolchain limits a faster DevOps lifecycle, and it’s getting worse. The shift to microservices creates an explosion of projects that is difficult to handle. 
            %p GitLab, a single application for the entire DevOps lifecycle, can help unlock DevOps from today’s toolchain for a radically faster cycle time.
            %p Join our experts Justin Haley and Ralf Gronkowski as they illustrate how The Bank of Ireland can realise Concurrent DevOps to provide greater visibility, efficiency, and governance. 

          .content-section
            %h3 In this session, we covered how to:
            %ul
              %li Make teams more efficient - start immediately, work concurrently, eliminate handoffs
              %li Enable visibility across the DevOps Lifecycle - see changes, cycle times, security and operational health
              %li Support governance - auditability, traceability, and enablement of data-driven decisions
              %li Extract the power of Docker and show how GitLab is optimised for a microservices architecture

        .col-md-4.col-md-offset-1
          %h3 If you are interested in a custom webcast for your company, please reach out to your GitLab representative or <a href="https://about.gitlab.com/sales">fill out our contact form</a>.