---
title: GitLab Certified Associate
suppress_header: true
description: "GitLab Certified Associate"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Associate
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified Associate

        %h3 Overview
        %p GitLab Certified Associate is a <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/gitlab-technical-certifications/'> technical certification</a> offered by  <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/'> GitLab Professional Services</a> to help the GitLab community and team members validate their ability to apply GitLab in their daily DevOps work. To earn certification, candidates must first pass a written assessment, followed by a hands-on lab assessment graded by GitLab Professional Services engineers.
 
        %h3 Availability
        %p Starting in May 2020 GitLab soft-launched the GitLab Certified Associate certification. The certification assessments are currently available to GitLab Professional Services customers who purchase <a href= 'https://about.gitlab.com/services/education/gitlab-basics/'> the GitLab with Git Basics</a> course for their teams. Course participants gain access to the certification assessments immediately after completing their course sessions. GitLab is planning to offer an asynchronous option for anyone to prepare for and take the certification assessments, with online availability targeted for the end of calendar year 2020.
 
        %h3 Why GitLab Associate certification?
 
        %h4 For employers
        %p With GitLab Certified Associate, team managers now have a way to confirm their team members possess the same basic concepts and skills needed to get started with GitLab in their daily work. All team members who achieve the certification will have a solid foundation upon which to continue to grow their skills and successfully adopt GitLab.
 
        %h4 For individuals
        %p Individual GitLab users who earn GitLab Certified Associate certification receive a certification logo they can share on social media to showcase their accomplishment. This helps highlight to colleagues and employers their foundational knowledge of how to use GitLab, and their capacity for growth in gaining additional GitLab skills going forward.
 
        %h3 Exam objectives
        %p Individuals who earn GitLab Certified Associate certification are able to perform the following fundamental tasks.
        %ul
          %li Explain what GitLab is and why teams use it
          %li Perform basic Git commands for branching and merging locally and remotely
          %li Apply fundamental concepts and skills using GitLab within the DevOps lifecycle
 
        %h3 Next steps
        %p Fill out the form below or contact your GitLab sales representative to discuss scheduling a dedicated live delivery of GitLab with Git Basics for your team, which includes all of the required certification assessments.
 
.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {
 
          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
